.container{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
  }

.todo-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.todo-text {
    text-align: center;
    color: azure;
}

.todo-button{
    width: 80px;
    height: 40px;
    font-size: 18px;
    color: white;
    border: none;
    margin-bottom: 4px;
    background-color:darkgoldenrod;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
}

.todo-button:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

#todo-input-textarea{
    width: 400px;
    height: 40px;
    font-size: 22px;
    background-color:cornsilk;
    resize: none;
    color: black;
    border: none;
    border-bottom: 5px solid #0000007e;

    outline: none;
}
